// Black White Grey
$color-white: #FFF;
$color-off-white: #FCFCFC;

$color-grey-lightest: #E3E3E3;
$color-grey-lighter: #C9C9C9;
$color-grey-light: #AFAFAF;

$color-grey: #969696;

$color-grey-dark: #7D7D7D;
$color-grey-darker: #636363;
$color-grey-darkest: #4A4A4A;

$color-off-black: #303030;
$color-black: #121212;

$color-grey-outline: $color-grey-darker;

// Main Colours
$color-green-lightest: #99FFFF;
$color-green-lighter: #010202;
$color-green-light: #1ACC97;
$color-green: #00B27D;
$color-green-dark: #009964;
$color-green-darker: #006631;

$color-red: #EB5757;
$color-red-light: #FF7171;
$color-red-lighter: #FF8A8A;
$color-red-lightest: #FFA4A4;
$color-red-dark: #D23E3E;
$color-red-darker: #B82424;

// Gradients
$gradient-red: linear-gradient(to right, $color-red-light, $color-red-dark);
$gradient-green: linear-gradient(to right, $color-green-light, $color-green-dark);