$spacing-unit: 2.5rem;

$spacing-smallest: $spacing-unit / 4;
$spacing-smaller: $spacing-unit / 3;
$spacing-small: $spacing-unit / 2;

$spacing-medium: $spacing-unit;

$spacing-large: $spacing-unit * 2;
$spacing-larger: $spacing-unit * 3;
$spacing-largest: $spacing-unit * 4;